<div style="background-color: <%= container_color %>" class="flex-section">
  <h1 class="margin-header text-center title-medium">Редактирование вопроса</h1>
  <div class="flex-box">
    <%= render 'form', question: @question %>
  </div>
</div>
