<h1 class="margin-both text-center">Редактирование вопроса</h1>
<div style="background-color: #<%= @user.profilecolor %>" class="flex-section">
  <div class="flex-box">
    <%= render 'form', question: @question %>
  </div>
</div>
