<div class="index-container purple">
  <div class="text-center margin-both-large">
    <div class="margin-both-large">
      <h1 class="title-medium">Наши пользователи</h1>
    </div>

    <div class="flex-section-row">
      <% @users.each do |user| %>
        <div class="user-item">
          <%= link_to image_tag(user_avatar(user), class: 'avatar-small'), user_path(user) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
