<div class="index-container purple">
  <div class="text-center margin-both-large">
    <div class="margin-both-large">
      <h1 class="title-medium">Наши пользователи</h1>
    </div>
    <div class="flex-section-row">
      <% @users.each do |user| %>
        <div class="user-item">
          <div>
            <%= link_to image_tag(user_avatar(user), class: 'avatar-small'), user_path(user) %>
          </div>
          <div class="question-text">
            <%= user.username %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex-section-row">
      <div class="question-box">
        <% hashtag_links(@hashtags).each do |hashtag_string| %>
          <a class="author-link ml-3" href='/hashtags/<%= Translit.convert(hashtag_string[1..-1], :english) %>'><%= hashtag_string %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
