.margin-top {
  margin-top: 18px;
}

.margin-top-large {
  margin-top: 36px;
}

.margin-bottom {
  margin-bottom: 18px;
}

.margin-bottom-large {
  margin-bottom: 36px;
}

.margin-both {
  margin: 20px
}

.margin-both-large {
  margin-top: 36px;
  margin-bottom: 36px;
}

.box {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.container {
  margin: 7% auto 0 auto;
  background: rgba(0, 89, 104, 0.24);
}

.section {
  display: flex;
  justify-content: center;
}