.margin-top {
  margin-top: 18px;
}

.margin-top-large {
  margin-top: 36px;
}

.margin-bottom {
  margin-bottom: 18px;
}

.margin-bottom-large {
  margin-bottom: 36px;
}

.margin-both {
  margin: 20px
}

.margin-header {
  margin-top: 98px;
  margin-bottom: 20px;
}

.margin-both-large {
  margin-top: 100px;
  margin-bottom: 40px;
}

.flex-box {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 0 auto 0 auto;
  width: 100%;
}

.default-color {
  background-color: #4f8bc0;
}

.flex-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
}

.flex-section-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  padding: 0 10%;
}

.flash-alert {
  text-align: center;
  font-family: Dialog, sans-serif;
  color: #B00100;
  font-size: 20px;
  font-weight: normal;
}

.alert-box {
  cursor: pointer;
  position: absolute;
  width: 40%;
  opacity: 0.6;
  transition: 4s;
  top: 80px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: rgba(49, 49, 49, 0.35);
  left: 29%;
}

.alert-box:hover {
  opacity: 0.9;
  transition: 0.5s;
}
