.margin-top {
  margin-top: 18px;
}

.margin-top-large {
  margin-top: 36px;
}

.margin-bottom {
  margin-bottom: 18px;
}

.margin-bottom-large {
  margin-bottom: 36px;
}

.margin-both {
  margin: 20px
}

.margin-both-large {
  margin-top: 36px;
  margin-bottom: 36px;
}

.flex-box {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 4% auto 0 auto;
  padding: 1px;
}

.purple {
  background-color: #4f8bc0;
}

.flex-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
}

.flex-section-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  padding: 0 10%;
}

.flash-alert {
  text-align: center;
  font-family: Dialog, sans-serif;
  color: #B00100;
  font-size: 20px;
  font-weight: normal;
}