  .question {
    margin: 20px 0 0 0;
    border: 3px groove rgba(0, 0, 0, 0.4);
    min-width: 250px;
    max-width: 700px;
    max-height: 250px;
    overflow-y: auto;
  }

  .question-content {
    background-color: rgba(255, 255, 255, 0.76);
    text-align: left;
    font-family: "DejaVu Sans Mono";
    max-width: 400px;
    padding: 5px;
    border: 6px rgba(0, 0, 0, 0.28) groove;
  }

  .question-text {
    padding: 10px 0;
  }

  .new_question {
    flood-color: white;
  }

  .question-box {
    min-width: 250px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: #ffffffab;
    border-color: rgba(49, 49, 49, 0.35);
  }

  .question-opt {
    margin: 8px 2px 0 2px;
  }

