<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Askme</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div>
    <div class="header-logo">
      <h1 class="text-medium text-center"><%=link_to "Askme", root_path %></h1>
    </div>
  </div>
</div>


<div class="container">
    <%= yield %>
</div>

</body>
</html>
